@charset "UTF-8";
.val_up {
  color: #27BE88; }
  .val_up::before {
    margin-right: 4px;
    content: "▼";
    width: 7px;
    height: 8px;
    font-size: 8px;
    color: #27BE88;
    content: "▲"; }

.val_down {
  color: #DD4C3A; }
  .val_down::before {
    margin-right: 4px;
    content: "▼";
    width: 7px;
    height: 8px;
    font-size: 8px;
    color: #DD4C3A; }

body {
  background-color: #F7F8FC;
  font-family: Poppins, sans-serif; }

a {
  text-decoration: none; }

.error {
  color: #DD4C3A; }

.warning {
  color: #F18F1C; }

.notice {
  color: #004BFF; }

.rank-1, .rank-2, .rank-3, .rank-4 {
  color: #334D6E;
  width: 50%; }
  .rank-1::before, .rank-2::before, .rank-3::before, .rank-4::before {
    content: "";
    position: absolute;
    left: -14px;
    top: 8px;
    width: 6px;
    height: 6px;
    box-sizing: border-box;
    border-radius: 5px; }

.rank-1::before {
  border: 2px solid #004BFF; }

.rank-2::before {
  border: 2px solid rgba(0, 75, 255, 0.75); }

.rank-3::before {
  border: 2px solid rgba(0, 75, 255, 0.5); }

.rank-4::before {
  border: 2px solid rgba(221, 76, 58, 0.5); }

.dashboard {
  max-width: 1089px;
  margin: auto;
  padding-top: 49px; }

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.title {
  color: #192A3E;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px; }

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.filter {
  font-size: 12px;
  line-height: 18px;
  color: #6A707E; }
  .filter::after {
    content: "▼";
    width: 7px;
    height: 8px;
    font-size: 8px;
    color: #AEAEAE;
    margin-left: 9px; }

.dropdown {
  width: 7px;
  height: 4px; }

.plusbutton {
  width: 35px;
  height: 35px;
  margin-left: 39px;
  text-align: center;
  vertical-align: center;
  background-color: #0148F5;
  box-shadow: 0 4px 10px rgba(0, 75, 255, 0.24);
  border-radius: 4px;
  color: white;
  font-size: 24px;
  cursor: pointer; }

.rectangle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 21px 25px 32px;
  margin-top: 22px;
  background-color: #FFFFFF;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.04);
  border-radius: 5px; }

.navigation__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #EBEFF2; }

.domain {
  display: flex;
  justify-content: space-between; }

.letter_k {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  font-size: 13px;
  line-height: 19px;
  font-weight: 900;
  text-align: center;
  vertical-align: center;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: #000000; }

.kparser {
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  margin-left: 9px;
  color: #000000; }

.icons {
  display: flex;
  justify-content: space-between; }

.share, .settings, .delete {
  width: 23px;
  height: 23px;
  margin-left: 6px;
  margin-right: 6px; }

.dashboard__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px; }
  .dashboard__body .dashboard__body-block:not(:first-child) {
    padding-left: 35px; }

.dashboard__body-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  padding-right: 30px;
  border-right: 1px solid #EBEFF2;
  box-sizing: border-box; }
  .dashboard__body-block .block__header {
    width: 100%;
    font-size: 11px;
    line-height: 16px;
    font-weight: 500;
    color: #818E9B; }
  .dashboard__body-block:last-child {
    border-right: none; }

.bl1 {
  width: 20%;
  align-items: baseline; }

.bl2 {
  width: 30%; }

.bl3 {
  width: 25%; }
  .bl3 ul {
    padding: 0;
    list-style: none; }
    .bl3 ul li {
      position: relative;
      font-size: 12px;
      line-height: 22px; }
      .bl3 ul li span {
        color: #004BFF;
        font-weight: 500; }
      .bl3 ul li::before {
        content: "";
        position: absolute;
        left: -14px;
        top: 8px;
        width: 5px;
        height: 5px;
        box-sizing: border-box;
        border-radius: 50%;
        background-color: #F18F1C; }
      .bl3 ul li:last-child::before {
        background-color: #27BE88; }

.bl4 {
  width: 25%; }

.big__scores {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%; }

.ws__80 {
  width: 60%;
  font-size: 56px;
  font-weight: 500;
  line-height: 84px;
  color: #2ED47A; }
  .ws__80 > span {
    font-size: 28px; }

.ws__4 {
  width: 25%;
  font-size: 15px;
  font-weight: 500;
  color: #DD4C3A; }
  .ws__4::before {
    margin-right: 6px;
    content: "▼";
    width: 7px;
    height: 8px;
    font-size: 8px;
    color: #DD4C3A; }

.score__table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%; }

.score__table-title {
  width: 50%;
  height: 23px;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  position: relative; }

.score__table-value1 {
  width: 25%;
  height: 23px;
  font-weight: 500;
  font-size: 12px;
  color: #004BFF; }

.score__table-value2 {
  width: 25%;
  height: 23px;
  font-weight: normal;
  font-size: 12px; }

.graph__29 {
  width: 253px;
  height: 47px;
  background-image: url("../images/graph_29.png"); }

.graph__28 {
  width: 253px;
  height: 70px;
  background-image: url("../images/graph_28.png"); }

.subheader {
  font-size: 10px;
  color: #707683; }

/*# sourceMappingURL=style.css.map */
